.page-container {
    max-width: 800px;
    background-color: rgb(246, 181, 17);
    border-radius: 10px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;

}

.page-container p {
    color: black;
    padding-bottom: 30px;

}

.back-home {
    max-width: 50%;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #B71C1C;
    list-style-type: none;
}

.back-home a {
    color: white;
}