html {
    font-size: 16px;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body,
table,
input {
    font: inherit;
}

p {
    text-align: center;
    padding: 0;
    margin: 0.2em;
}

.spanish::before {
    content: '🇪🇸';
    margin-right: 5px;
}

.english::before {
    content: '🇬🇧';
    margin-right: 5px;

}

p.english {
    background: none;
    margin-bottom: 1.5em;
}

.tip {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #B71C1C;
    color: white;
}

img {
    margin-top: 1em;
}

.background {
    background-image: url("../images/Spanish\ Flag.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.1;
    padding: 0;
    margin: 1em 0 0.5em 0;
}

h1 {
    font-size: 2.0em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.0em;
}