/* Navigation styles */
nav li {
    display: inline-block;
    padding: 10px;
    text-align: center;
}

nav ul {
    background-color: #B71C1C;
}

nav a {
    color: white;
    text-decoration: none;
}

/* List styles */
ol {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

li {
    flex: 0 0 25%;
    box-sizing: border-box;
}

/* Contact styles */
.contact-phone {
    float: right;
    color: white;
}

.mail {
    float: right;
}

.university {
    float: right;
}

/* Heading styles */
h1 {
    text-align: center;
}

section h3, p {
    text-align: center;
}

/* Link styles */
a {
    color: black;
    text-decoration: none;
}

/* Tip styles */
.tip {
    background-color: #B71C1C;
    color: white;
}

/* Table styles */
table thead th {
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid rgb(221, 221, 221);
    padding: 8px;
}

span {
    color: #B71C1C;
}

table thead th {
    text-align: center;
}

/* Icons styles */
.icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    font-size: 20px;
}

/* Footer styles */
footer {
    background-color: #EEEEEE;
    padding: 20px;
}

footer ol {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

footer ol li {
    flex: 0 0 25%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

footer p {
    margin: 0;
}

/* Find Us styles */
.find-us {
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
}
